.navbar{
    font-size: 1.2rem;
}

.navbar-logo{
    width: 3rem;
    height: 5rem;
} 

.carrito{
    color: white;
} 

.productContainer{
    margin: 1.5rem;
    border-width: 2px;
    border-color: white;
}   

.card-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 2rem;
} 

.card-text{
    display: flex;
    justify-content: left;
    font-size: 1.2rem;
}

.card-img{
    width: 30rem;
    height: 16rem;
}